.env
api/
app/models/_private/
app/variables/
app/playground/_private/
app/strategies/_implementations/*.py
app/strategies/_private/
app/indicators/_implementations/*.py
app/indicators/_private/
app/watchdogs/_implementations/*.py
app/portfolio/_implementations/*.py
app/index/
.pyc
logs_file
*.whl
*.csv
*.p
*.parq
__pycache__/
*.py[cod]
*$py.class
*.sqlite
*.bi5
*.json
*.txt
out/
*.ex4
.vscode/
*.bak