beautifulsoup4
requests
psycopg2
python-dotenv
dask
peewee
ccxt
fredapi
iexfinance
requests-cache
IbPy2
twisted
raccoon
clint
python-twitter
facebook-sdk
seaborn
pika
bt
pyarrow
peewee_extra_fields
click
ffn
git+https://github.com/pydata/pandas-datareader
git+https://github.com/Lasagne/Lasagne
tiingo
statsmodels
pyfinance
quandl
pyfolio
logbook
alpha_vantage
patsy
cloudpickle
ipython
dbx-stopwatch
pandas_market_calendars
psutil