beautifulsoup4
requests
psycopg2
python-dotenv
dask
peewee
alphalens
ccxt
fredapi
iexfinance
requests-cache
IbPy2
twisted
raccoon
clint
python-twitter
facebook-sdk
seaborn
pika
bt
arrow
peewee_extra_fields
git+https://github.com/femtotrader/python-eodhistoricaldata.git
click